body {     
    display: flex;     
    flex-direction: column;     
    align-items: center;     
    justify-content: center;    
    padding-top:15vh;
    height: 100%;     
    margin: 0; 
}

main{
    display:grid;
    grid-template-rows: 1fr 1fr;
    grid-gap:50px;
}


/* main sections */

main > div{
    background-color: #ebf6f2;
}

.scroller{
    max-width: 100vw;
    /* min-height: 80px; */
    overflow: hidden;
    box-shadow: 0px 0px 10px 3px #c3d5cf;
    /* mask: linear-gradient(90deg ,transparent, white 0%, white 100%, transparent); */
}

.cover-img{
    height: fit-content;
    /* display:flex; */
    /* gap: 1rem; */
    animation: slide 20s infinite ease-in-out;
}

.cover-img > li > a > img {
    width:100%;
}

@keyframes slide {
    0%{
        transform: translatey(0%);
    }
    50%{
        transform: translatey(-70%);
    }
    100%{
        transform: translatey(0%);
    }
}

.article-preview{
    display:grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    padding: 50px;
    border-radius: 10px;
    width: 70vw;
    height: 50vh;
}

.image-preview{
    display:grid;
    padding: 50px;
    border-radius: 10px;
    padding-bottom: 80px;
}

.article-preview-discription{
    padding-left: 20px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.article-preview-discription > a{
    text-align: center;
    background-color:#193BB3;
    color: #ffffff;
    border-radius: 15px;
    text-decoration: none;
}


.carousel {
    background-color: #40c896;
    position: relative;
    /* height: 80vh; */
    min-height: 400px;
    width: 40vw;
    min-width: 325px;
    max-width: 500px;
    margin: 0 auto;
}

.carousel_items > img {
    width:100%;
    height: 100%;
    object-fit: cover;
}

.carousel_track{
    position:relative;
    height: 100%;
    transition: transform 300ms ease-in;
}


.carousel_track_container{
    border-radius: 5px;
    background-color: aliceblue;
    height:100%;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 5px 2px #063801;
}
.carousel_items{
    position:absolute;
    top: 0;
    bottom: 0;
    width:100%;
}

.carousel_button{
    color: #0b6b00;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
}

.carousel_button:hover{
    color:#27D515;
}

.carousel_button--left{
    left:-40px;
    
}
.carousel_button--right{
    right:-40px;
}

.carousel_nav {
    display: flex;
    justify-content: center;
    padding:10px;
}

.carousel_indi{
    border:0;
    border-radius: 100%;
    width:15px;
    height:15px;
    background-color: #193BB3;
    margin: 0 10px;
    cursor: pointer;
}

.carousel_nav .current_indi{
    background-color: #ffffff;
    width:16px;
    height:16px;
    
}


.is_hidden{
    display:none;
}

@media (max-width: 1080px) {

    .article-preview{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        width: auto;
        height: 60vh;
    }

    .article-preview-discription > a{
        font-size: 0.8em;
    }
}