body {     
    display: flex;     
    flex-direction: column;     
    align-items: center;     
    justify-content: center;    
    padding-top:25vh; 
    height: 100%;     
    margin: 0; 
}

main{
    display:grid;
    grid-template-rows: 1fr 1fr;
    grid-gap:50px;
}


/* main sections */

.call-to-action{
    background-color: #ebf6f2;
    padding: 50px;
    border-radius: 10px;
}

.article-preview{
    display:grid;
}





.card img{
    /* temporary, needs to be changed */
    width:100px;
}



